SELECT COUNT(*)
  FROM LO_OUT_D;

SELECT *
  FROM LO_OUT_M;

SELECT *
  FROM LO_OUT_D;

SELECT DISTINCT OUTBOUND_BATCH, OUT_TYPE_DIV
  FROM LO_OUT_M;


SELECT INVOICE_NO, OUTBOUND_DATE
  FROM LO_OUT_M
  
SELECT *
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE = '2019-06-03' -- TO_DATE('20190603', 'YYYY-MM-DD')
   AND OUTBOUND_NO = 'D190603-897837' -- 두 조건을 동시 만족
   
SELECT *
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE = '2019-06-03' -- 두 조건중 하나라도 만족
    OR OUTBOUND_NO = 'D190603-897837'  
    
SELECT INVOICE_NO, OUTBOUND_BATCH, SET_TYPE_NM, SET_QTY
  FROM LO_OUT_M
 WHERE OUTOUND_DATE = TO_DATE('20190603', 'YYYY-MM-DD')
   AND OUT_TYPE_DIV IN('M11', 'M12', 'M13')
   AND WORK_SEQ BETWEEN 1 AND 2
   AND INVOICE_NO LIKE '3467247280' || '%'; -- 3457247280으로 시작하는 모든
 ORDER BY OUTBOUND_BATCH, SET_TYPE_NM; -- 앞에 나온 순서대로 정렬(앞에꺼로 정렬을 먼저하고 같으면 뒤어꺼 기준으로 정렬)
 
SELECT DISTINCT ITEM_CD, ITEM_NM
  FROM LO_OUT_D
 WHERE ITEM_NM LIKE '뉴트리플랜' || '%' -- '뉴트리플랜%'
   AND ORDER_QTY > 50
   AND OUT_TYPE_DIV_D IN ('M12', 'M15')
 GROUP BY ITEM_CD, ITEM_NM  
 ORDER BY ITEM_NM;
 
 SELECT OUTBOUND_BATCH, SET_TYPE_NM, SUM(SET_QTY) AS SUM_SET_QTY
   FROM LO_OUT_M
 WHERE OUTBOUND_DATE = TO_DATE('20190603', 'YYYY-MM-DD')
   AND OUT_TYPE_DIV IN ('M11', 'M12', 'M13')
   AND WORK_SEQ BETWEEN 1 AND 2
   AND INVOICE_NO LIKE '346724728' || '%'
  GROUP BY OUTBOUND_BATCH, SET_TYPE_NM
 HAVING SUM(SET+QTY) = 1
  ORDER BY OUTBOUND_BATCH, SET_TYPE_NM; 
  
SELECT INVOICE_NO, OUTBOUND_DATE, TO_CHAR(OUTBOUND_DATE, 'YYYY-MM') AS YYYYMM, SUM(SET_QTY)
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '2019-06-01' AND '2019-06-30'
 GROUP BY OUTBOUND_DATE
 ORDER BY OUTBOUND_DATE 
 
 SELECT 1 AS NO
   FROM DUAL
UNION ALL
 SELECT 2 AS NO
   FROM DUAL
UNION ALL
SELECT 3 AS NO
  FROM DUAL
UNION ALL
SELECT 1 AS NO
  FROM DUAL;
  
  
SELECT ROWNUM AS RNK
      ,OUTBOUND_DATE
      ,INVOICE_CNT
  FROM(
       SELECT OUTBOUND_DATE
                 ,COUNT(1) AS INVOICE_CNT
              FROM LO_OUT_M
             WHERE OUTBOUND_DATE BETWEEN '2019-06-01' AND '2019-06-15'
             GROUP BY OUTBOUND_DATE
             ORDER BY INVOICE_CNT DESC
      )
  WHERE ROWNUM <= 5  
  
  
SELECT BRAND_CD, INVOICE_NO, OUTBOUND_DATE, ORDER_NM
   FROM A_OUT_M
WHERE INVOICE_NO BETWEEN '#01' AND '#05'
AND ORDER_NM LIKE '전%' 
OR ORDER_NM LIKE '권%'   

SELECT BRAND_CD, INVOICE_NO, ITEM_CD, ORDER_QTY
   FROM A_OUT_D
WHERE INVOICE_NO LIKE '#0%'
AND ORDER_QTY >= '3'
     